.form_name {
  padding: 1.5rem;
  padding-right: 4rem;
  /* border-right: 1px; */
  color: #7a989a;
  font-weight: 600;
}

.form_input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 0.25rem;
  border-width: 3px;
  font-size: 1rem;
  line-height: 1.25rem;
  appearance: none;
  cursor: pointer;
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); */
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  width: 85%;
}

.form_input:focus {
  outline: none;
  border-color: #7a989a;
  border-width: 3px;
}

.form_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem;
}
